body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    margin-left: 5%;
    margin-right: 5%;
    background-color: #0E273C;
    color: #81C3D7;
}

.logo{
    color: red;
    width: 10%;
    height: auto;
    margin-top: 5%;
}
.header{
    color: #D9DCD6;
}
.selection{
    margin: 1%;
}

.signout{
    margin-top: 2%;
}
.icon{
    width: 5%;
    height: auto;
}
.Heading_links{
    border: 2ps solid red;
}
.itemsList, div{
    padding:0;
    margin:0;
    align-content: center;
}