.header{
    color: #D9DCD6;
}
.selection{
    margin: 1%;
}

.icon{
    width: 5%;
    height: auto;
}

.headerLinks{
    margin-top: 5%;
    display: flex;
    justify-content: center;
    align-content: center;
}
.itemsList{
    padding:0;
    margin:0;
    align-content: center;
}
.logoutLink:hover{
    width: 25%;
    background: rgba(255, 0, 0, 0.561);
    border: transparent;
    border-radius: 25px;
}
.logoutLink{
    width: 25%;
}
.switchBagLink{
    width: 30%;
    margin-left: 2%;
}
.switchBagLink:hover{
    background: rgba(255, 0, 0, 0.561);
    border: transparent;
    border-radius: 25px;
}
.ownedButton{
    font-family: 'Teko', sans-serif;
    font-size: 1.5rem;
    background-color: transparent;
    border-radius: 25px;
    padding: .5rem 1.5rem;
    color: white;
    border: 2px solid grey;
    margin: 2%;
}
.bagPageButtonContainer{
    display: flex;
    justify-content: space-evenly;
    padding: 2%;
}
.newFormButtonsContainer{
    display: flex;
    width:100%;
    justify-content: center;
    align-items: center;
    margin: 5%;
}
.ownedButton:hover{
    color: #282c34;
    background-color: grey;
}
.submit{
    margin: 2%;
    border-radius: 5px;
    font-size: .75rem;
    padding: .25rem .75rem;
}
.NewItemForm{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50vw;
}
.item_cost, .item_name, .item_description, .item_url, .item_img{
    width: 100%;
    display:flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 1%;
}
.NewItemForm__item_name, .NewItemForm__item_url,.NewItemForm__item_img,.NewItemForm__item_description,.NewItemForm__item_cost {
    margin-right: 0%;
    align-self: center;
}
#NewItemForm__item_name, #NewItemForm__item_url,#NewItemForm__item_img,#NewItemForm__item_description,#NewItemForm__item_cost {
    align-self: center;
    width: 25%;
    min-height: 30px;
}
