.bag{
    margin: 10%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    font-size: 2rem;
}
.trashIcon{
    width: 150%;
    height:auto;
}
.bagTitle{
    flex-grow:1;
    font-size: 2.5rem;
    margin-bottom: 10%;
    margin-top: 0;
}
.deleteButton{
    margin-top:0;
    color: white;
    width: 40%;
    background:transparent;
    border: transparent;
    border-radius: 25px;
}
.deleteButton:hover{
    background: rgba(255, 0, 0, 0.561);
    border: transparent;
    border-radius: 25px;
}
.bagTitle:hover{
    Color:#09d3ac;
    border: transparent;
    border-radius: 25px;
}




.header{
    margin-top: 10%;
    margin-bottom: 0;
}