.owned{
  color: grey;
  border: 3px solid white;
  border-radius: 25px;
  margin: 5% auto;
}
.itemsList{
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.item{
  margin: 4%;
  padding: 2%;
  border-radius: 10px;
  background-color: white;
  border: 2px solid white;
  max-width: 400px;
  flex: 2 1 300px;
}
.ImageContainer{
  width: 100%;
}
.desc_container{
  width: 100%;
  padding: auto 2%;
  display: flex;
  flex-direction: column;
}
.cost{
  color: red;
}
#img{
  width:100%;
  position:relative;
  background: 50% 50% no-repeat;
  background-size:cover;
  background-clip:content-box;
  border-radius: 25px;
}
#img:before{
  display:block;
  content:"";
  padding-top:75%;
}
#title{
  color: #282c34;
  font-size: 3rem;
  margin-bottom: 0;
  margin-top: 0;
}
.info{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  font-size: 2rem;
}
.desc{
  margin-top: 2%;
}
.read-more-button{
  cursor: pointer;
}
.displayed-text{
  cursor: pointer;
}
.read-more-button:hover{
  color: #09d3ac;
}
.owned_box{
  font-size: 2rem;
  margin-bottom: 2%;
  margin-right: 20%;
}
.checkbox{
  margin-top: 2%;
  transform: scale(1.75);
}
.ownedContainer{
  display: flex;
  flex-direction: row;
  align-items: center;
}