.owned{
    color: grey;
    border: 3px solid white;
    border-radius: 25px;
    margin: 5% auto;
}
.itemsList{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 0;
}
.item{
    margin:0 auto;
    width: 33%;
    border: 3px solid white;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    padding: 2%;
    margin: 2%;
    box-shadow: 10px 10px 5px rgba(31, 31, 31, 0.756);
  }
  .ImageContainer{
    width: 100%;
    justify-content: center;
    margin-bottom:0;
  }
  .desc_container{
    flex-grow:1;
  }
  .cost{
    color: red;
    margin:0;
  }
  #img{
    border-radius: 25px;
    width: 75%;
    max-width: 400px;
    margin-top: 2%;
    height: auto;
    object-fit: cover;
  }
  .ownedBox{
    margin-top: 10px;
  }
  #title{
      color: white;
      font-size: 3rem;
      margin-bottom: 0;
      margin-top: 0;
  }
  .info{
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
  .desc{
    margin-top: 2%;
  }