/* font-family: 'Anton', sans-serif;
font-family: 'Fjalla One', sans-serif;
font-family: 'Bebas Neue', cursive;
font-family: 'Teko', sans-serif;
font-family: 'Archivo Black', sans-serif;
font-family: 'Fugaz One', cursive;
font-family: 'Staatliches', cursive; */

body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    margin-left: 5%;
    margin-bottom:15%;
    margin-right: 5%;
    padding-left: 10%;
    padding-right: 10%;
    background-color: #0E273C;
    color: #81C3D7;
    font-family: 'Teko', sans-serif;
    font-size: 1.5rem;
}
#loginButton:hover{
    Color:#09d3ac;
}
