/* font-family: 'Anton', sans-serif;
font-family: 'Fjalla One', sans-serif;
font-family: 'Bebas Neue', cursive;
font-family: 'Teko', sans-serif;
font-family: 'Archivo Black', sans-serif;
font-family: 'Fugaz One', cursive;
font-family: 'Staatliches', cursive; */

body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    margin-left: 5%;
    margin-bottom:15%;
    margin-right: 5%;
    padding-left: 5%;
    padding-right: 5%;
    background-color: #0E273C;
    color: #81C3D7;
    font-family: 'Teko', sans-serif;
    font-size: 1.5rem;
}
#loginButton{
    font-size: 3rem;
}
#loginButton:hover{
    Color:#09d3ac;
}
.landingBody{
    font-size: 1.5rem;
    text-align: center;
    padding: 0 1rem;
}

@media screen and ( min-width: 500px){
    .landingBody{
        font-size: 2rem;
        padding: 0 20vw;
    }
}