body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    margin-left: 5%;
    margin-right: 5%;
    background-color: #0E273C;
    color: #81C3D7;
}

.selectionList{
    margin: 2%;
    padding:0;
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
}
.selection{
    margin: 2%;
}