body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    margin-left: 5%;
    margin-right: 5%;
    background-color: #0E273C;
    color: #81C3D7;
    font-size: 2rem !important;
}

.selectionList{
    margin: 2%;
    padding:0;
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
}
.situationTitle{
    margin-bottom: 0;
}
.selection{
    margin: 2%;
}
#cancelButton{
    color: black !important;
    font-size: 1rem;
    margin: auto 2%;
}
.submit{
    font-size: 1rem;
    color: black;
    margin: auto 2%;
}
.bag_name{
    margin: 2%;
    padding: 2%;
}
#NewBagForm__bag_name{
    margin-left: 5%;
}
.selector{
    font-size: 1rem;
}
.buttons{
    display: flex;
    justify-content: center;
    margin: 2%;
    padding: 1%;
}