/* font-family: 'Anton', sans-serif;
font-family: 'Fjalla One', sans-serif;
font-family: 'Bebas Neue', cursive;
font-family: 'Teko', sans-serif;
font-family: 'Archivo Black', sans-serif;
font-family: 'Fugaz One', cursive;
font-family: 'Staatliches', cursive; */

.App {
  text-align: center;
}
.App-logo {
  height: 100%;
}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.App-link {
  color: #09d3ac;
}

a{
  text-decoration: none;
  color:white;
}
a:visited {
  color:white;
}
.logo{
  width: 30%;
  height: auto;
  margin-top: 5%;
}
.header{
  font-size: 5rem;
  color: #D9DCD6;
  font-family: 'Bebas Neue', cursive;
 
}
* {
  box-sizing: border-box;
}
